 <section class="MenuItem-section">

    <h3 id="notice"><%= params[:notice] %></h3>

    <% if @current_user.is_owner %>
      <div class="Menu-title">
        <h3> Select Menu </h3> 
        <%= render partial: "select_menu",
                   locals: {
                     menu_id: @current_menu_id,
                     menus: @menus,
                   } %>
      </div>
    <% end %>

    <h1 class="Menu-title">Menu Items</h1>

    <div class="MenuItem-new">
      <% if @current_user.is_owner %>
        <%= link_to "+ Add Menu Item",
                    new_menu_item_path(:current_menu_id => @current_menu_id) %>
      <% end %>
    </div>
    
    <%= render partial: "display_menu",
               locals: {
                 menu_items: @menu_items,
               } %>

</section>