<section class="Order">
    <h1 class="Order-title">New Order</h1>
    <% if not @current_user.is_customer %>
        <h1 class="Order-title">Walk in customer</h1>
    <% end %>
    <%= render partial: "display_menu",
               locals: {
                 menu_items: @menu_items,
               } %>

    <div>
        <%= form_with url: viewcart_path do |form| %>
            <div class="Form-order">
                <%= submit_tag "View cart", class: "Order-submit" %>
            </div>
        <% end %>
    </div>
</section>