.Login-page {
    max-width: 350px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.Page {
    color: #453C52;
    font-family: OpenSans-Semibold;
    background-color: #f1f1f1;
    margin: 0px;
}

.Home-title {
    font-size: 20px;
    color: chartreuse;
    background-color: white;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
}

.Home {
    background-color: white;
}

.Home-authenticate {
    margin-bottom: 20px;
    font-size: 15px;
}

.UserHeader {
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    color: blanchedalmond;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #1f8cbe, rgb(142, 217, 223));
    justify-content: space-between;
}

.User-error {
    padding: 10px;
    margin-bottom: 15px;
    color: red;
    font-size: 14px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2 !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #4CAF50;
    color: white;
}

.