.Login-page {
    max-width: 450px;
    justify-content: center;
    margin: 0 auto;
}

.Page {
    color: #453C52;
    font-family: OpenSans-Semibold;
    background-color: #f1f1f1;
}

.Home-title {
    font-size: 20px;
    margin-bottom: 50px;
}

.Home-authenticate {
    margin-bottom: 20px;
    font-size: 15px;
}

.UserHeader {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}

.User-error {
    padding: 10px;
    margin-bottom: 15px;
    color: red;
    font-size: 14px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ddd;
    overflow-x: auto;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #4CAF50;
}

.main {
    margin-left: 135px;
    font-family: OpenSans-Semibold;
    background-color: white;
    padding: 14px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}