.Order-quantity {
    padding: 5px;
}

.Form-order {
    display: flex;
    justify-content: center;
}

.Order-submit {
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: #48BB78;
    border: 0px;
    color: white;
    border-radius: 4px;
}

.Order-title {
    text-align: center;
    margin-bottom: 40px;
}

.Order-view {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 17px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Order-section {
    align-items: center;
    display: flex;
}

.Order-status {
    font-size: 20px;
    margin-left: 10px;
}

.Report-section {
    padding: 10px;
    justify-content: center;
}

.Report-label {
    font-size: 24px;
}

.Order {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.OrderNew {
    font-weight: bold;
    font-size: 20px;
}

.Order a,
.Order-view a {
    outline: 0;
    text-decoration: none;
    border: none;
}

.Order a:hover,
.Order-view a:hover {
    background-color: transparent;
    color: #fc8019 !important;
    font-size: 20px;
}

.Search {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.Search-label {
    margin-left: 10px;
    font-size: 17px;
    padding: 7px;
}

.Search-date {
    margin-left: 10px;
    margin-right: 20px;
    padding: 7px;
}

.Search-submit {
    margin-left: 20px;
    font-size: 20px;
    padding: 7px;
    background-color: #48BB78;
    border: 0px;
    color: white;
    border-radius: 4px;
}