.Order-quantity {
    padding: 5px;
}

.Form-order {
    display: flex;
    justify-content: center;
}

.Order-submit {
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: #48BB78;
    border: 0px;
    color: white;
    border-radius: 4px;
}

.Order-view {
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 17px;
}

.Order-section {
    align-items: center;
    display: flex;
}

.Order-status {
    font-size: 20px;
    margin-left: 10px;
}