.NewUsers-title {
    margin-bottom: 40px;
    font-size: 30px;
}

.Form-section {
    margin-bottom: 30px;
}

.Form-input {
    font-size: 20px;
    padding: 8px;
    border: 1px solid rgb(108, 240, 147);
    border-style: solid;
    border-radius: 10px;
}

.FormInput-label {
    color: #555555;
    font-size: 17px;
    margin-bottom: 20px;
}

.UsersNew {
    padding: 10px;
}

.Form-submit {
    font-size: 20px;
    padding: 10px;
    background-color: #48BB78;
    border: 0px;
    color: white;
    border-radius: 4px;
}

.Clerk {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Clerk a {
    outline: 0;
    text-decoration: none;
    border: none;
    font-size: 20px;
}

.Clerk a:hover {
    background-color: transparent;
    color: #fc8019 !important;
    font-size: 20px;
    font-weight: bold;
}

.Clerk-title {
    text-align: center;
    margin-bottom: 20px;
}

.ClerkNew {
    padding: 10px;
    font-weight: bold;
}